{{ template "base" .}}


{{ define "content" }}
  <main class="container my-5">
  <h2>About Us</h2>
  <p>We are a family-run workshop specialized in pallet truck wheels. We focus on quality, fast delivery, and reliable customer support.</p>
</main>
{{ end }}