{{ template "base" . }}

{{ define "content" }}
  <header class="bg-light text-center py-5">
    <div class="container">
      <h1 class="display-4">Quality Pallet Truck Wheels</h1>
      <p class="lead">Small business, specialized products, fast shipping.</p>
      <a href="/store" class="btn btn-primary btn-lg mt-3">Shop Now</a>
    </div>
  </header>
{{ end }}