{{ template "base" .}}

{{ define "content"}}
   <main class="container my-5">
  <h2>Shipping & Returns</h2>
  <ul class="list-group">
    <li class="list-group-item">Domestic shipping: 2–5 business days</li>
    <li class="list-group-item">International shipping calculated at checkout</li>
    <li class="list-group-item">Returns within 14 days if unused</li>
  </ul>
</main>
{{ end }}